@import '../../scss/constants.scss';
@import '../../scss/mixin.scss';

// 局部变量

$tagTitleHeight: 40px;
$tagTitleFontSize: 20px;

$tagEmptyFontSize: 40px;

$tagLiHeight: 32px;
$tagLiFontSize: 15px;

$tagAddFontSize: 14px;

.tags {
  position: relative;
  width: $tagWidth;
  height: 100vh;

  background-color: $tagBackColor;
  border-right: solid $tagBorderRightColor 1px;

  display: flex;
  flex-direction: column;
}

.t-title {
  position: relative;
  width: 100%;
  height: $tagTitleHeight;

  padding-left: 10px;

  @include fontInfo($tagTitleFontSize, $tagTitleFontColor, normal, $tagTitleHeight, left);
}

.t-empty {
  position: relative;
  width: 100%;
  flex: 1;

  padding-top: 150px;

  @include fontInfo($tagEmptyFontSize, $tagEmptyFontColor);
}

.t-ul {
  position: relative;
  width: 100%;
  flex: 1;

  list-style: none;
  overflow: auto;
}

.t-li {
  position: relative;
  width: 100%;
  height: $tagLiHeight;

  padding-left: 20px;
  padding-right: 20px;


  @include fontInfo($tagLiFontSize, $tagTitleFontColor, normal, $tagLiHeight, left);

  @include textEllipsis;
}

.t-li-active {
  background-color: $tagLiActiveBackColor;
}

.t-add {
  position: relative;
  width: 100%;
  height: $tagAddHeight;

  padding-left: 20px;

  @include fontInfo($tagAddFontSize, $tagAddFontColor, normal, $tagAddHeight, left);
}

.ta-icon {
  display: inline-block;
  margin-right: 10px;
}
