@import '../../scss/constants.scss';
@import '../../scss/mixin.scss';

$contentInputWidth: 200px;
$contentInputHeight: 30px;
$contentInputFontSize: 18px;

$contentQueryWidth: 28px;
$contentQueryHeight: 28px;
$contentQueryFontSize: 16px;

$contentAddWidth: 28px;
$contentAddHeight: 28px;
$contentAddFontSize: 18px;

$contentEmptyFontSize: 36px;

$contentLiHeight: 80px;
$contentLiNameHeight: 20px;
$contentLiNameFontSize: 16px;
$contentLiUrlHeight: 18px;
$contentLiUrlFontSize: 14px;
$contentLiTsHeight: 14px;
$contentLiTsFontSize: 14px;

.contents {
  position: relative;
  width: $contentWidth;
  height: 100vh;

  background-color: $contentBackColor;

  display: flex;
  flex-direction: column;
}

.c-control {
  position: relative;
  width: 100%;
  height: $contentControlHeight;

  display: flex;
  padding-left: 20px;
}

.cc-input {
  position: relative;
  width: $contentInputWidth;
  height: $contentInputHeight;

  margin-top: 10px;
  padding-left: 10px;

  border: none;
  background-color: $contentInputBackColor;

  @include fontInfo($contentInputFontSize, $contentInputFontColor, normal, $contentInputHeight, left);
}

.cc-query {
  position: relative;
  width: $contentQueryWidth;
  height: $contentQueryHeight;

  margin-top: 11px;
  margin-left: 10px;

  background-color: $contentQueryBackColor;

  @include fontInfo($contentQueryFontSize, $contentQueryFontColor, 500, $contentQueryHeight);
}

.cc-add {
  position: relative;
  width: $contentAddWidth;
  height: $contentAddHeight;

  margin-top: 11px;
  margin-left: 10px;

  background-color: $contentAddBackColor;

  @include fontInfo($contentAddFontSize, $contentAddFontColor, border, $contentAddHeight);
}

.c-empty {
  position: relative;
  width: 100%;
  flex: 1;

  padding-top: 150px;

  @include fontInfo($contentEmptyFontSize, $contentEmptyFontColor);
}

.c-ul {
  position: relative;
  width: 100%;
  flex: 1;

  list-style: none;
  overflow: auto;
}

.c-li {
  position: relative;
  width: 100%;
  height: auto;

  padding: 12px 18px;
}

.c-li-active {
  background-color: $contentLiActiveBackColor;
}

.c-li-name {
  position: relative;
  width: 100%;
  height: auto;

  @include fontInfo($contentLiNameFontSize, $contentLiNameFontColor, normal, $contentLiNameHeight, left);
  // @include textEllipsis;

  word-break: break-all;
}

.c-li-url {
  position: relative;
  width: 100%;
  height: auto;

  margin-top: 5px;

  @include fontInfo($contentLiUrlFontSize, $contentLiUrlFontColor, normal, $contentLiUrlHeight, left);
  // @include textEllipsis;

  word-break: break-all;
}

.c-li-ts {
  position: relative;
  width: 100%;
  height: $contentLiTsHeight;

  margin-top: 5px;

  @include fontInfo($contentLiTsFontSize, $contentLiTsFontColor, normal, $contentLiTsHeight, left);
}
