$tagWidth: 250px;
$tagBackColor: #2b2b2b;

$tagTitleHeight: 40px;
$tagTitleFontSize: 20px;
$tagTitleFontColor: #d3d3d3;

$tagEmptyFontSize: 40px;
$tagEmptyFontColor: #ffffff;

$tagAddHeight: 30px;
$tagAddFontSize: 14px;
$tagAddFontColor: #848484;

$contentWidth: 350px;
$contentBackColor: rgba(30, 30, 30, 0.9);

$contentControlHeight: 50px;

$contentInputWidth: 200px;
$contentInputHeight: 30px;
$contentInputBackColor: #262626;
$contentInputFontSize: 18px;
$contentInputFontColor: #6b6b6b;

$contentQueryWidth: 28px;
$contentQueryHeight: 28px;
$contentQueryBackColor: #414141;
$contentQueryFontSize: 16px;
$contentQueryFontColor: #b3b3b3;

$contentAddWidth: 28px;
$contentAddHeight: 28px;
$contentAddBackColor: #414141;
$contentAddFontSize: 18px;
$contentAddFontColor: #b3b3b3;

$contentEmptyFrotSize: 36px;
$contentEmptyFrotColor: #ffffff;

$createPopupPadding: 10px 10px 0px;
$createPopupBackColor: #3a3a3a;
$createPopupBorder: solid #4b4b4b 1px;
$createPopupBorderRadius: 8px;