/*
 * 这里定义的常量是全局调控的常量
 * 全局布局宽度
 * 全局颜色统一控制
 */

// tag部分的常量定义
$tagWidth: 250px;
$tagAddHeight: 30px; // 弹窗定位

$tagBackColor: #2b2b2b;
$tagBorderRightColor: #323232;
$tagTitleFontColor: #d3d3d3;
$tagEmptyFontColor: #ffffff;
$tagLiActiveBackColor: #4a4a4a;
$tagAddFontColor: #848484;

// content部分的常量定义
$contentWidth: 350px;
$contentControlHeight: 50px; // 弹窗定位

$contentBackColor: rgba(30, 30, 30, 0.9);
$contentInputBackColor: #262626;
$contentInputFontColor: #6b6b6b;
$contentQueryBackColor: #414141;
$contentQueryFontColor: #b3b3b3;
$contentAddBackColor: #414141;
$contentAddFontColor: #b3b3b3;
$contentEmptyFontColor: #ffffff;
$contentLiActiveBackColor: #454545;
$contentLiNameFontColor: #dadada;
$contentLiUrlFontColor: #b5b5b5;
$contentLiTsFontColor: #b5b5b5;

// popup部分的常量定义
$createPopupBackColor: #3a3a3a;
$createPopupBorderColor: #4b4b4b;
$createPopupCloseColor: #848484;
$createPopupNameColor: #848484;
$createPopupInputColor: #d4d4d4;
$createPopupInputBorderColor: #414141;
$createPopupConfirmColor: #848484;
