@import './constants.scss';

@mixin fontInfo(
  $size,
  $color,
  $weight: normal,
  $line: $size,
  $place: center
) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  text-align: $place;
  line-height: $line;
}

@mixin textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
